.dialog-toolbar{
    background-color: #ffffff;
    right: 15%;
    position: fixed;
    bottom: 1%;
    width: 70%;
    height: fit-content;
    padding: 2% 1% 2% 1%;
}

.toolbar-btn{
    align-content: center;
    margin: 0% 2% 0% 2%;
}