@import url('https://fonts.googleapis.com/css?family=Gloock');

.open-sidebar{
    position: fixed;
    top: 1%;
    left: 1%;
}

.sidebar-item{
    display: block;
    width: 100%;
    margin: 1%;
    text-align: start;
    font-family: Gloock;
}
a{
    text-decoration: none;
}