.stage-container{
    border: solid;
    border-color: #0078D4;
}

#toggle-model{
    border: none;
}

.btn-container{
    border-top: solid;
    border-color: #0078D4;
    width: 100%;
}

.stage-btn{
    margin: 2% 4% 2% 4%;
}