@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


h1{
    font-family: Source Sans Pro;
    font-size: 60px;
    color: #056CB4;
}

h2{
    font-family: Source Sans Pro;
    font-size: 40px;
    color: #056CB4;
}

h3{
    font-family: Source Sans Pro;
    font-size: 20px;
    color: #056CB4;
}

p{
    font-family: Source Sans Pro;
}

.open-sidebar{
    z-index: 99 !important; 
    position: fixed;
    top: 1%;
    left: 1%;
    background-color: #00A6CA;
    border: none;
}

.sidebar{
    background-color: #00A6CA;
}

.sidebar-item{
    display: block;
    width: 100%;
    height: 10%;
    margin: 1%;
    text-align: start;
    font-family: Source Sans Pro;
    background-color: #00A6CA;
    border: none;
}



a{
    text-decoration: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #00A6CA;
    color: white;
}

.p-tabview .p-tabview-panels .p-tabview-panel{
    border-left: 2%;
    border-left: solid;
    border-color: #1C345D;
    padding-left: 2%;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1rem;
    color: white;
    background: #00A6CA;
    font-weight: 600;
    border-radius: 2px;
    transition: box-shadow 0.2s;
}


.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
    color: white;
    background: #00A6CA;
}

#toggle-model{
    border: none;
}

.stage-toolbar{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 96vw;
    background-color: #056CB4;
}

.stage-btn{
    border: 2% 2% 2% 2%;
    font-family: Source Sans Pro;
    background-color: #00A6CA;
    color: white;
    border: none;
}

.stage-btn + .stage-btn{
    margin-left: 10px;
}

.dialog-toolbar{
    background-color: none;
    right: 15%;
    position: fixed;
    bottom: 1%;
    width: 70%;
    height: fit-content;
    padding: 2% 1% 2% 1%;
}

.toolbar-btn{
    align-content: center;
    margin: 0% 2% 0% 2%;
}

model-viewer{
    width: 96vw;
    height: 75vh;
    border: solid;
    border-width: 5px;
    border-radius: 2%;
    border-color: #056CB4;
    background-color: #617B8D;
}

.study-toolbar{
    border: none;
    background: none;
    background-color: none;
    padding: 0px;
}
.next, .previous, .showDialog{
    font-family: Source Sans Pro;
}

.showDialog{
    margin-left: 0%;
    width: 100%;
}

.p-dialog .p-dialog-header .p-dialog-title {
    color: #056CB4;
    font-size: 30px;
}

.case-study-btn{
    width: 100%;
    margin: 2% 0% 2% 0%;
}

.case-study-btn, .next, .previous, .showDialog{
    background-color: #00A6CA;
    border: none;
}

.case-study-card{
    min-height: 87vh;
}

.case-study-header{
    margin: 2%;
}
.case-name{
    margin-left: 2%;
    font-size: 30px;
    color: gray;
}

.case-study-card .case-text{margin-left: 2%;}

.case-study-img{
    max-width: 89vw;
}

.case-study-dialog{
    width: 90%
}

.histology-img{
    max-width: 80vw;
}

.ref, .hist-ref{
    padding:0%;
    margin: 0%;
    font-size: small;
    font-weight: lighter;
}

/* Change UI for larger screens*/
@media only screen and (min-width: 1000px) {
    .tab-p{margin-left: 0;}
    .tab-ul{
        width: 100%;
    }

    /* Histology */
    .histology-dialog{width: 50%;}
    .histology-img{margin-left: 10%; max-width: 80%;}
    .hist-ref{margin-left: 10%;}

    /* Case studies */
    .case-study-btn{margin-left: 10%; width: 10%;}
    .case-study-card{margin-left: 10%; width: 40%}
    .case-study-img{margin-left: 2%; max-width: 80%;}
    .showDialog{margin-left: 2%; width: 60%;}
    .case-study-dialog{width: 50%;}
    .case-study-card .case-text{margin-left: 2%;}
    .ref{margin-left: 2%}

    .model-container, .stage-toolbar, .accordian-container, .tab-view, .img, h1, h2, h3, .ul, p, ol{width: 50%; margin-left: 10%};
}


