@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

h1, h2, h3{
    font-family: Source Sans Pro;
    text-decoration: underline;
    text-decoration-color: #0078D3;
}

p{
    font-family: Source Sans Pro;
}

.open-sidebar{
    z-index: 99 !important; 
    position: fixed;
    top: 1%;
    left: 1%;
}

.sidebar-item{
    display: block;
    width: 100%;
    margin: 1%;
    text-align: start;
    font-family: Source Sans Pro;
}
a{
    text-decoration: none;
}



#toggle-model{
    border: none;
}

.btn-container{
    border-left: solid;
    border-right: solid;
    border-color: #0078D4;
    border-radius: 1%;
    width: 96vw;
    background-color: none;
}

.stage-btn{
    border: 2% 2% 2% 2%;
    font-family: Source Sans Pro;
}

.stage-btn + .stage-btn{
    margin-left: 10px;
}

Toolbar{
    width: 50%;
}

model-viewer{
    width: 96vw;
    height: 75vh;
    border: solid;
    border-radius: 1%;
    border-color: #0078D4;
}

.dialog-toolbar{
    background-color: none;
    right: 15%;
    position: fixed;
    bottom: 1%;
    width: 70%;
    height: fit-content;
    padding: 2% 1% 2% 1%;
}

.toolbar-btn{
    align-content: center;
    margin: 0% 2% 0% 2%;
}

model-viewer{
    width: 96vw;
    height: 75vh;
    border: solid;
    border-radius: 1%;
    border-color: #0078D4;
}

.study-toolbar{
    border: none;
    background: none;
    background-color: none;
    padding: 0px;
}
.next, .previous, .showDialog{
    font-family: Source Sans Pro;
}

.showDialog{
    width: 100%;
}

.case-study-btn{
    width: 100%;
    margin: 2% 0% 2% 0%;
}

.case-study-card{
    min-height: 87vh;
}

.case-study-header{
    margin: 2%;
}
.case-name{
    font-size: medium;
    color: gray;
}

.case-study-img{
    max-width: 89vw;
}

.histology-img{
    max-width: 80vw;
}

.ref{
    padding:0%;
    margin: 0%;
    font-size: small;
    font-weight: lighter;
}

@media only screen and (min-width: 1000px) {
    .home-container, .accordian-container, p, ul{width: 60%};
}


