@import url('https://fonts.googleapis.com/css?family=Gloock');
@import url('https://fonts.googleapis.com/css?family=Lato');

h1, h3{
    font-family: Gloock;
    text-decoration: underline;
    text-decoration-color: #F7AA00;
}

p{
    font-family: Lato;
}